# LangChain Core
langchain
langchain-core

# Anthropic Integration
langchain-anthropic

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub
sentence-transformers

# Environment Variable Management
python-dotenv

# UI
streamlit

# Machine Learning Utilities
numpy
scikit-learn
